nltk==3.2.5
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.5/en_core_web_lg-2.2.5.tar.gz
keras
tensorflow
opencv-python
xgboost==0.90
scikit-learn
pandas
spotipy
ftfy
contractions
pycld2
detectlanguage
deep-translator
spacy==2.2.4
Django
django-cors-headers
djangorestframework
Pillow