beautifulsoup4
contractions
deep_translator
detectlanguage
Django
ftfy
keras
nltk
numpy
opencv_python
pandas
pycld2
requests
scipy
spacy
spotipy
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.5/en_core_web_lg-2.2.5.tar.gz
gunicorn
keras-nightly
Keras-Preprocessing
opt-einsum
Pillow
regex
requests-oauthlib
sklearn
tensorflow
tensorflow-estimator
typing-extensions
urllib3
xgboost

