@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



.music-container {
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  /* box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 0.1); */
  display: flex;
  padding: 20px 30px;
  position: relative;
  /* margin: 100px 0px 0px 0px; */
  margin: 130px 0px 0px 0px;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  /* background-color: #fff; */
  background-color: transparent;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  /* margin: 0 20px; */
  margin: auto;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  /* padding: 10px 10px 10px 150px; */
  padding: 10px 10px 40px 25px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
  /* margin: 10px 10px 20px -100px; */
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  /* background-color: #fe8daa; */
  background-color: #C696AE;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.timer_display{
  display: flex;
  justify-content: space-between;
}



/* For the Queue */
.queue_img{
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.queue{
  /* background-color: #fff; */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  /* box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 0.1); */
  display: block;
  padding: 5px;
  position: relative;
  margin: 10px 0px 0px 0px;
  z-index: 5;
  overflow: auto;
}

.queue_song_container {
  display: flex;
  width: 100%;
}

.queue_song_content {
  margin: 0 ;
  width: 100% ;
  display: flex ;
  line-height: 1.8 ;
  flex-direction: column ;
  justify-content: center ;
  text-transform: capitalize ;
}

.list {

  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;

}

.player__song {

  /*     gap: 0 .65em ; */
      display: flex ;
      cursor: pointer ;
      margin-bottom: .5em ;
      padding-bottom: .7em ;
      /* border-bottom: .1em solid #d8d8d859 ; */
      border-bottom: .05em solid rgba(255, 255, 255, 0.3) ;
  
  }

  .player__playlist {

    height: 100% ;
    overflow: auto ;   
    padding: 1.05em .9em 0 1.2em ; 

}

.player__playlist::-webkit-scrollbar {
  width: 0 ;
}

.player__song-name {

  font-size: .88em ;

}

.flex {

  display: flex ;
  align-items: center ;
  justify-content: space-between ;

}


.player__context {

  margin: 0px 0px 0px 10px ;
  width: 100% ;
  display: flex ;
  line-height: 1.8 ;
  flex-direction: column ;
  justify-content: center ;
  text-transform: capitalize ;

}



/* body {
  background: linear-gradient(35deg, red, purple);
} */

/* <select> styles */

.select {
  /* Reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 200px;
  height: 30px;
  padding: 0 30px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 0em, rgba(255, 255, 255, 0.2) 0em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  margin: 0px 0px 0px 15px;
  cursor: pointer;

}
.select .option {
  color: inherit;
  background-color: #320a28;
}
.select:focus {
  outline: none;
}
.select::-ms-expand {
  display: none;
}